<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<!-- 资产管理 -->
	 <!-- 机房列表的基本配置 -->
	 <bean id="machineRoomDao" class="com.scada.dao.impl.MachineRoomDaoImpl">
	 	<property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 <bean id="machineRoomService" class="com.scada.service.impl.MachineRoomServiceImpl">
	 	<property name="machineRoomDao" ref="machineRoomDao" />
	 </bean>
	 <bean id="machineRoomAction" class="com.scada.action.MachineRoomAction">
	 	<property name="machineRoomService" ref="machineRoomService"/>
	 </bean>
		
		
</beans>